img{
    width: 200px;
    height: 250px;
    border: 2px solid blue;
    border-radius: 50%;
}

#home{
    font-size: x-large;
}

.phn-small{
    border: 0px;
}

@media screen and (max-width : 530px){
    .phn-small{
        margin: 5px;
    }
}

@media screen and (max-width : 740px){
    img{
        width: 70px;
        height: 100px;
    }
    #home{
        font-size: large;
    }
}

li{
    margin: auto;
}